<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1 class="jumbotron text-center"><%= title %></h1>
    <p>Welcome to <%= title %></p>
        <nav>
        <img src="/public/images/beer-mug-14068286.jpeg" />
        <a href="/breweries" <%- title === 'All Breweries' ? 'class="active"' : '' %>>ALL BREWERIES</a>
        <% if (user) { %>
        <a href="pageView/new" <%- title === 'Add Brewery' ? 'class="active"' : '' %>>ADD BREWERY</a>
        <a href="/logout">LOG OUT</a>
        <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
        </nav>
    <main>