<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Brewery</th>
      <th>Website</th>
      <th>Phone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% breweries.forEach(function(b) { %>
      <tr>
        <td><%= b.name %></td>
        <td><%= b.website_url %></td>
        <td><%= b.phone %></td>
        <td><a href="/pageView/<%= b._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
<%- include('../partials/footer') %>